body * {
	box-sizing: border-box;
	/* font-family: ; Arial */

}

html, body {
	height: 100%;
}

html {
    background-color: #BF800F;
    /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}



.star-logo {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

html, body {
	height: 100%;
}

.container {
    height: 100%;
}

h1 {
	font-size: 3em;
}
.bumper {
	height: auto;

}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

h1, h2 {
	color: #0c2735;
	background-color: rgba(255, 255, 255, .4);
	text-align: center;
}

h2 {
	font-size: 1.8em;
}
.start-page {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: space-between;
}

.answer {
	width: 1.1em;
	height: 1.1em;
	vertical-align: middle;
}

.count-and-score {
	background-color: rgba(255, 255, 255, .4);
	height: 150px;
  }

.question-page {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/*background-color: rgba(255, 255, 255, .4);*/
}

button {
	display: block;
	min-height: 80px;
	min-width: 80px;
	margin-bottom: 1.5em;
	font-size: 2em;
	border: none;
	background-color: #FFB415;
	color: #ffedfc;
	border-radius: 5px;
	padding: .5em 1em;
	width: 60%;
	max-width: 200px;
}

button:hover {
	background-color: #402B05;
	cursor: pointer;
}
/* test*/
.silhouette-logo {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-bottom: -2px;
    width: 100%;
    display: flex;
	justify-content: center;
	margin-top:10px;
	
}

.question {
	margin: 0;
	background-color: rgba(255, 255, 255, .8);
}
form {
    background-color: rgba(255, 255, 255, .4);
}

fieldset {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 10%;
	border: none;
}

.answer {
	width: 1.1em;
	height: 1.1em;
	vertical-align: middle;
}

label {
	margin-bottom: 1em;
	font-size: 1.5em;
}

.js-submit {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
}

.question-counter, .score-counter {
	display: inline-block;
	font-size: 1.6em;
}

.score-counter {
	float: right;
}

.feedback {
	display: flex;
	flex-direction: column;

}
/*test  2*/

.js-next-button {
	margin: 1em auto;
}

.js-restart {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 10em;
}

.image-wrapper{
    position: relative;
	height: 100px;
	padding-top: 20px;
}

/*media queries*/

@media only screen and (min-width: 360px) {
	.question-counter, .score-counter {
		display: inline-block;
		font-size: 1.8em;
		margin: 0 .6em .6em;
	}

	.score-counter {
		float: right;
	}	

	h2 {
	font-size: 2em;
	margin-top: 3em;
	}

	label {
		margin-bottom: 2em;
	}
}

@media only screen and (min-width: 650px) {
	.feedback-page img {
		display: block;
		width: 650px;
		margin-left: auto;
		margin-right: auto;
    }
    .silhouette-logo {
        margin-left:auto;
		margin-right: auto;
		height: 100%;
    }
}

@media screen and (max-width: 600px) {
    .silhouette-logo {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        margin-bottom: -2px;
		width: 100%;
		height: auto;
        display: flex;
        justify-content: center;
    }

}
@media only screen and (min-width: 1000px) {
	.feedback h2 {
		width: 650px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
	}

	form {
		padding: 4em 7em 0;
	}

	.question-counter {
		padding-left: 8em;
		padding-bottom: 2.5em;
	}

	.score-counter {
		padding-right: 8em;
		padding-bottom: 2.5em;
	}
}
@media (max-width: 767px) {
    .star-logo {
    width: 400px;
    align-items: flex-end;
}
    .silhouette-logo {
    width:600px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-bottom: -2px;
	width: 100%;
	height: auto;
    /* display: flex;
    justify-content: center; */
}
}